.container {
    padding: 20px;
}

.title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.sub-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.current-page {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
    color: gray;

    span {
        color: black;
        font-weight: var(--font-weight-semibold);
    }
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 24px 0;
}
  
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
  
.page-button {
    padding: 8px 12px;
    border: none;
    color: black;
    background: white;
    cursor: pointer;
    border: 1px solid gray;
}
  
.page-button:hover:not(:disabled) {
    background-color: #e0e0e0;
}
  
.page-button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}
  
.pageInfo {
    padding: 9.2px 12px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
  
.bottom-container {
    display: flex;
    justify-content: center;
}